*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.idea
/build
/core/build
/mainscreen/build
/nativelib/build
/buildSrc/build
/ui/build
/util/build
/p7lib/build
/network/build
/networkapi/build
/p7libapi/build
/evotorsdk/build
/sdkapi/build
/captures
.externalNativeBuild
.cxx
local.properties
