*.iml
.gradle
/local.properties
.DS_Store
.idea
.externalNativeBuild
.cxx
local.properties
/.idea
/app/build
/build
/buildSrc/build
/core/build
/data_evotorsdk/build
/data_network/build
/data_network-worker/build
/data_networkapi/build
/data_persistence/build
/data_room/build
/data_sdkapi/build
/evotorlib/build
/p7lib/build
/p7libapi/build
/presentation_evotorPrinter/build
/presentation_mainscreen/build
/presentation_printerApi/build
/presentation_ui/build
/resources/build
/util/build